@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
@import 'custom-bootstrap.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html {font-size: 16px}

.vh-100 {min-height: 100vh;}
.vw-100 {width: 100vw;}

.sidebar {min-width: 6.25em;}

.active {
  background-color: $gray-200;
  color: $indigo;

  &:hover {
    cursor: auto;
    color: $indigo;
  }
}

i.fa {font-size: 1.8em;}

.card button {color: $black;}

select:valid {
  border-color:$green;
}

.bg-block {
  background-color: $gray-200;
  border-radius: $border-radius;
  padding: 0.3em;
  font-size: 1.5em;
}

.table th { border-top: 0; }
