@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
@import 'custom-bootstrap.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html {font-size: 16px}

.logo {width: 4.5em;}

.sidebar {
  min-width: 6.25em;

  i.fa {font-size: 1.8em;}
}

.active {
  background-color: $gray-200;
  color: $indigo;

  &:hover {
    cursor: auto;
    color: $indigo;
  }
}

.card {
  border-radius: 0;
  margin-bottom: 0.5em;

  button {color: $black;}
}

select:valid {border-color:$green;}

fieldset:valid legend {
  background-color: #d4edd6;

  &:hover {
    background-color: #bed5c0;
  }

  &:after {
    font-family: FontAwesome;
    content: "\f00c";
    float: right;
  }
}

fieldset:invalid legend {
  background-color: #ffccbc;

  &:hover {
    background-color: #e5b7a9;
  }

  &:after {
    font-family: FontAwesome;
    content: "\f040";
    float: right;
  }
}

.bg-block {
  background-color: $gray-200;
  border-radius: $border-radius;
  padding: 0.3em;
  font-size: 1.5em;
}

.table th {border-top: 0;}

legend {
  font-size: 1.1em;
  font-weight: $font-weight-bold;
  cursor: pointer;
  padding: 1.25rem;
  background-color: rgba($black, 0.03);
  border-bottom: 0 solid rgba($black, 0.125);
  margin-bottom: 0;

  i.fa {font-size: 1.25em;}
}

.custom-form input {
  border: 0;
  color: $gray-600;
  font-size: 4rem;
  background-color: $gray-100;
  font-weight: bold;

  &::placeholder {
    color: $gray-400;
  }
  &:focus {
    outline: none;
    background-color: $gray-400;
  }
  &:focus::placeholder {
    color: $gray-500;
  }
}

#saved {
  background-color: $green;
  color: $white;
  opacity: 0;
  transition: opacity 0.2s ease-in;

  &:after {
    font-family: FontAwesome;
    content: "\f00c";
    margin-left: 8px;
  }
}

.fade-in { opacity: 1!important; }

/* Added classes */
.vh-100 {min-height: 100vh;}
.vw-100 {width: 100vw;}
